.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 15.2rem;
  max-height: 15.2rem;
  padding: 1.8rem 0;
  color: $color-navbar;

  &-brand {
    font-size: 0.9em;
    margin-right: 0.22em;
  }

  &-button {
    border-color: $color-navbar;
    background-color: $color-navbar;
    color: $color-white;
    transition: all 0.2s ease;

    &:hover {
      border-color: $color-green-dark;
      background-color: $color-green-dark;
    }
    &:active {
      border-color: $color-green-darker;
      background-color: $color-green-darker;
    }
    &:focus { outline: unset; }
  }

  &-form {
    color: $color-navbar;
    border-color: $color-navbar;
  }
}
